.header {
  background: #eee;
  background-size: cover;
  border-bottom: 1px solid #ccc;
  height: 10vh;
  color: #FFF;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.site-title {
  font-weight: 300;
  font-size: 42px;
  float: left;
}

.site-title a {
  text-decoration: none;
  color: #FFF;
}

.selected {
  border-bottom: 1px solid #fff;
}

@media (max-width: 767px){
  .add-post-button{
    float: left;
    margin-top: 16px;
  }
}
